<!DOCTYPE html>
<html>
<head>
<title>Nodejs-Mongo-CRUD</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css">
</head>
<body>
<div id="wrapper">
<nav class="navbar navbar-dark bg-dark mb-4">
<a href="/" class="navbar-brand">Home</a>
</nav>